body{
    background-color: rgba(6,118,230,255);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.basic{
    background-color: rgba(238,238,238,255);
    border-radius: 5px;
    max-width: 800px; min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
     }
@media (max-width: 768px){
    .basic{
        background-color: rgba(238,238,238,255);
        border-radius: 5px;
        max-width: 500px; max-height: 620px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        }
    } 
@media (max-width: 576px){
    .basic{
        max-width: 250px; max-height: 1400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
     }
} 
.box{
    background-color: rgba(255,255,255,255);
    border-radius: 3px;
    margin: 17px;
    padding: 13px;
    width: 150px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
.page{
    background-color: rgba(6,118,230,255);
    color: white;
    border-radius: 10px;
    padding: 5px 25px;
    font-size: 9px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
   }
.per{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    margin-top: 0;
    margin-bottom: 20px;
}

.text{
    color: rgba(190,194,203,255);
    font-size: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
button{
    border-radius: 20 px;
    border: solid rgba(6,118,230,255) 1px;
    border-radius: 10px;
    background-color: white;
    color: rgba(6,118,230,255);
    padding: 5px 30px;
    font-size: 6px;
    font-weight: 700;
    margin-top: 20px;
}